<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.laba.hospital.dao.repository.appointment.AppointmentRepository">

    <select id="existsById">
        SELECT EXISTS(SELECT 1 FROM appointments WHERE id=#{id})
    </select>

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO appointments(time, patient_id, doctor_id) VALUES (#{time}, #{patient.id}, #{doctor.id})
    </insert>
</mapper>