<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.laba.hospital.dao.repository.appointment.MedicineRepository">

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO medicines(name, price, description, is_prescribed)
        VALUES (#{name}, #{price}, #{description}, #{isPrescribed})
    </insert>
</mapper>