<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.laba.hospital.dao.repository.info.VaccinationRepository">

    <select id="findAllByPatientId" resultMap="vaccinationResultMap">
        SELECT * FROM vaccinations WHERE patient_id = #{id}
    </select>

    <insert id="create" keyColumn="id" keyProperty="vaccination.id" useGeneratedKeys="true">
        INSERT INTO vaccinations(name, date, expires, patient_id)
        VALUES (#{vaccination.name}, #{vaccination.date}, #{vaccination.expires}, #{patientId})
    </insert>

    <resultMap id="vaccinationResultMap" type="com.solvd.laba.hospital.model.info.Vaccination" autoMapping="false">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="date" property="date"/>
        <result column="expires" property="expires"/>
    </resultMap>
</mapper>