<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.laba.hospital.dao.repository.person">

    <resultMap id="personResultMap" type="com.solvd.laba.hospital.model.person.Person">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="surname" property="surname"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="email" property="email"/>
    </resultMap>

</mapper>